.bookmark {
	display: block;
	cursor: pointer;
}

.glyphicon-bookmark {

}

.basket-img {
	width: 100px;
}

.basket-contents {
	margin-left: 8px;
}

.bookmark.active {
	color: #c00;
}

.glyphicon-bookmark {
	font-size: 18px;
}
.bookmark span span {
	position: absolute;
	left: 0px;
	width: 19px;
	text-align: center;
	color: white;
	font-size: 10px;
	top: -1px;
}

.basket-row {
	margin-right: 0;
	margin-bottom: 10px;
}
.logo {
	display :block;
	margin-top: 0px;
	margin-bottom: 20px;

}
.navbar {
	min-height: 0px;
	position: static;
	box-shadow: none;
	background: none;
	border: none;
}

.navbar:before {
	content: "";
}
.category-tabs {
	padding-top: 10px;
	padding-bottom: 20px;
}
.subcategory-tabs {
	margin-left: 5px;
}

.subcat-indicator {
	line-height: 2em;
	left: 5px;
	margin-right: 15px;
}

.navbar-default .navbar-nav>li>a {
	color: #0F0;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #0C0;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
	background: #333;
	color: #e4e4e4;
}

button, input, optgroup, select, textarea {
	color:#333;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border: none;
}

.navbar-default .navbar-toggle {
	background: #ddd;
}

.navbar-default .navbar-toggle:hover {
	background: #333;
}

.navbar-header form {
	position: relative;
	margin: 10px;
}
.navbar-header form input { 
	float: left;
	width: 120%;
	margin-left: -25px;
}


.navbar-header form button {
	position: absolute;
	right: -10px;
	top: 0;
	margin: 0;
	margin-left: 10px;
}
.navbar-header form .form-group {
	margin: 0;
}

.nav-pills>li.active>a, .nav->li.active>a, .nav-pills>li.active>a:hover {
	background: #333;
}

.nav>li>a:hover {
	background: none;
}

.nav>li>a:focus, .nav-pills>li.active>a:hover {
	background: #555;
	color: #e4e4e4;
}

.product-panel {
	padding-top: 20px;
}

.notlive {
	background: #333;
}
.jumbotron h1 {
	margin-top: 0;
	margin-bottom: 1.3em;
	font-size: 24px;
}

.jumbotron {
	background: #000;
	color: #e4e4e4;
	padding: 10px 30px 30px;
}

a {
	color: #0F0;
}

a:hover {
	color: #0C0;
}

.bottom-buffer,
.bottom-buffer img {
	margin-bottom: 20px;
}


.bottom-buffer h4,
.bottom-buffer h3 {
	margin-top: 0;
	font-size: 18px;
}

.jumbotron p {
	font-size: 14px;
}

.bottom-buffer:nth-child(2n + 1) {
	clear: left;
}

.image-col {
	width: 130px;
}

.product-image-container a:first-child img {
	margin-bottom: 10px;
}

.price-qty {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

.contact-link {
	position: absolute;
	right: 30px;
}

.form-group.price-qty {
	bottom: 0px;
	margin-top: 20px;
}

.description {
	padding-bottom: 40px;
}


textarea.description {
	width: 100%;
	padding-bottom: 0px;
	margin-bottom: 140px;
	height: 100px;
}

.titleInput {
	margin-bottom: 10px;
	width: 100%;
}

.lightbox-nav {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0px;
	display: block;
}

.lightbox-nav a {
	height: 100%;
	display: block;
	background: #eee;
	width: 40%;
	position: absolute;
	z-index: 100;
	background: none;
	border: none;
	top: 20px;
}

.lightbox-nav a:hover {
	cursor: pointer;
}

.lightbox-nav a:hover span {
	margin-top: -30px;
	visibility: visible;
}


.lightbox-nav a:last-child,
.lightbox-nav a:last-child span {
	right: -5px;
	left: auto;
}

.lightbox-image-caption {
	position: relative;
}

.lightbox-nav a.close {
	background: none;
	top: -8px;
	right: 10px;
	border-radius: 15px;
	opacity: 1;
	width: 30px;
	height: 30px;
	font-size: 20px;
}

.lightbox-nav a.close span {
	visibility: visible;
	left: auto;
	font-size: 30px;
	color: black;
	background: white;
	line-height: inherit;
	margin-top: 0px;
	transform: none;
	top: -5px;
	left: 5px;
	border: none;
}

.lightbox-nav a span {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	line-height: 21px;
	text-shadow: none;
	box-shadow: none;
	padding: 0;
	margin: 0;
	font-size: 12px;
	background: black;
	border-radius: 15px;
	width: 30px;
	height: 30px;
	border: 4px solid white;
	color: white;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	visibility: hidden;
	left: -15px;
}

.edit,
.save {
	border-radius: 5px;
	display: inline-block;
	width: 10px;
	height: 10px;
	background: red;
	border: 2px solid #c00;
	margin-left: 2px;
	cursor: pointer;
	position: absolute;
	z-index: 10;
	right: 15px;
}

.delete {
	right: 45px;
	position: relative;
	font-size: 10px;
	top: -2px;
	cursor: pointer;
}

.save {
	background: green;
	border-color: #0c0;
	right: 30px;
}

.breadcrumbs {
	list-style-type: none;
	margin: 0 0 20px 0;
	padding: 0;
}


.breadcrumbs li {
	display: inline-block;
}

.breadcrumbs li .glyphicon {
	font-size: 8px;
	top: -1px;
	left: 1px;
}

.gallery-thumbnail img {
	width: 20%;
}

.gallery-thumbnail:first-child img {
	width: 100%;
}

@media only screen and (max-width:768px) {
	.lightbox-image-caption {
		font-size: 16px;
	}

	.navbar-header form {
		padding-right: 60px;
	}

	textarea, input.titleInput {
		width: 100%;
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border-bottom: 1px solid #e4e4e4;
	}
	.category-tabs {
		padding-top: 0px;
	}
	.subcategory-tabs {
		clear: left;
		margin: 0;
		padding-bottom: 20px;
	}
	.nav>li.subcat-indicator {
		display: none;
	}
	.navbar-header form input { 
		float: left;
		width: 120%;
		margin-left: -10px;
		width: 100%;
	}
}

#image-queue {
	margin-bottom: 20px;
}