.jumbotron h1 {
	margin-top: 0;
	font-size: 24px;
}

.jumbotron {
	/*background: #333;*/
}
.category-tabs {
	margin-bottom: 20px;
}

.bottom-buffer {
	margin-bottom: 20px;
}

.bottom-buffer h4 {
	margin-top: 0;
}

.image-col {
	width: 130px;
}

.product-image-container a:first-child img {
	margin-bottom: 10px;
}

.price-qty {
	position: absolute;
	bottom: 0px;
}

.description {
	padding-bottom: 40px;
}

.lightbox-nav {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0px;
	display: block;
}

.lightbox-nav a {
	height: 100%;
	display: block;
	background: #eee;
	width: 40%;
	position: absolute;
	z-index: 100;
	background: none;
	border: none;
}

.lightbox-nav a:hover {
	cursor: pointer;
}

.lightbox-nav a:hover span {
	visibility: visible;
}


.lightbox-nav a:last-child,
.lightbox-nav a:last-child span {
	right: -5px;
	left: auto;
}

.lightbox-nav a.close {
	background: none;
	top: -25px;
	right: -10px;
	border-radius: 15px;
	opacity: 1;
	width: 30px;
	height: 30px;
	font-size: 20px;
}

.lightbox-nav a.close span {
	visibility: visible;
	left: auto;
	font-size: 30px;
	color: black;
	background: white;
	line-height: inherit;
	transform: none;
	top: -5px;
	left: 5px;
	border: none;
}

.lightbox-nav a span {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	line-height: 21px;
	text-shadow: none;
	box-shadow: none;
	padding: 0;
	margin: 0;
	font-size: 12px;
	background: black;
	border-radius: 15px;
	width: 30px;
	height: 30px;
	border: 4px solid white;
	color: white;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	visibility: hidden;
	left: -15px;
}

.edit,
.save {
	border-radius: 5px;
	display: inline-block;
	width: 10px;
	height: 10px;
	background: red;
	border: 2px solid #c00;
	margin-left: 2px;
	cursor: pointer;
	position: absolute;
	right: 0px;
}

.save {
	background: green;
	border-color: #0c0;
	right: 20px;
}

.breadcrumbs {
	list-style-type: none;
	margin: 0 0 20px 0;
	padding: 0;
}


.breadcrumbs li {
	display: inline-block;
}

.breadcrumbs li .glyphicon {
	font-size: 8px;
	top: -1px;
	left: 1px;
}