<div class="row">
	<div class="col-sm-8 table-responsive">
		<table class="table" ng-show="basket.count()">
			<thead>
				<tr>
					<td></td>
					<td>Product</td>
					<td>Qty</td>
					<td>Unit Price</td>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td colspan="2"></td>
					<td>TOTAL:</td>
					<td>{{basket.total() | currency : "&pound;"}}</td>
				</tr>
			</tfoot>
			<tbody>
				<tr ng-repeat="item in basket.items">
					<td><img bscenes-src="{{item.img}}" class="basket-img" /></td>
					<td>{{item.name}}</td>
					<td>{{item.count}}</td>
					<td>{{item.price | currency : "&pound;"}}</td>
				</tr>
			</tbody>
		</table>
		<a ng-click="basket.empty()" class="btn btn-default" ng-show="basket.count()">Empty basket</a>
	</div>
</div>
<h4 ng-show="!basket.count()">You have no items in your basket.</h4>
