<div class="row">
	<div class="col-sm-8 table-responsive">
		<table class="table basket-table" ng-if="basket.hasItems()">
			<thead>
				<tr>
					<td></td>
					<td>Product</td>
					<td>Qty</td>
					<td>Unit Price</td>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td colspan="2"></td>
					<td align="right">TOTAL:</td>
					<td>{{basket.total() | currency : "&pound;"}}</td>
				</tr>
			</tfoot>
			<tbody>
				<tr ng-repeat="item in basket.items">
					<td><img bscenes-src="{{item.img}}" class="basket-img" /></td>
					<td>{{item.name}}</td>
					<td>{{item.count}}<button class="btn btn-success" ng-click="addItem(item)">+</button><button ng-if="item.count > 1" class="btn btn-success" ng-click="removeItem(item)">-</button><button ng-if="item.count == 1" class="btn btn-danger" ng-click="removeItem(item)">-</button></td>
					<td>{{item.price | currency : "&pound;"}}</td>
				</tr>
			</tbody>
		</table>
		<a id="clear-basket" ng-click="basket.empty()" class="btn btn-default" ng-if="basket.hasItems()">Empty basket</a>
	</div>
</div>
<h4 ng-if="!basket.hasItems()">You have no items in your basket.</h4>
