<div class="col-sm-6">
    <h1>Add new category</h1>
    <p>
    To add a sub-category first select a parent category from the dropdown, otherwise the name you enter will be added as a new top level category.
    </p>
    <form role="form" ng-submit="addCategory()" ng-show="categories.length">
    	<label for="parentCategory">Parent category</label>
    	<div class="form-group">
    		<label name="parentCategory" for="parentCategory">
            <select ng-model="parentCategory" name="parentCategory">
            <option value="">Select a category</option>
            <option  ng-repeat="category in categories" value="{{category.$id}}">{{category.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label name="categoryName">Name</label>
            <input class="form-control" ng-model="newCategory.name" type="text" placeholder="category name"/>
        </div>
        <button type="submit" class="btn btn-default">Add category</button>
    </form>
</div>

