
<div class="row form-signin col-md-4 col-md-offset-4">
	<h3>Login</h3>
    <div ng-show="error">
    {{error}}
    </div>
	<div class="form-group">
    <input ng-model="newUser.email" type="email" class="form-control" placeholder="email"/>
    </div>
    <div class="form-group">
    <input ng-model="newUser.password" ui-keypress="{13:'login(newUser.email, newUser.password)'}" type="password" class="form-control" placeholder="password"/>
    </div>
    <div class="form-group">
    <button ng-click="login(newUser.email, newUser.password)" class="btn btn-default">Login</button>
    <!--<button ng-click="resetPassword(newUser.email)" class="btn btn-reset">Reset Password</button>-->
    </div>
</div>
