<div class="row col-md-6">
    <h1>Edit pages</h1>
        <div class="form-group">
            <label for="pageSection">Select page section</label>
            <select ng-model="newPage.section" class="form-control" id="page-sections" ng-change="getPages()" name="pageSection">
                <option value="">Select a section</option>
                <option ng-repeat="section in sections" value="{{section.title}}">{{section.title}}</option>
            </select>
        </div>
    <form role="form">
        <div class="form-group" style="margin-bottom: 60px;">
            <label for="newSection">or add a new section</label>
            <label name="sectionTitle" class="sr-only">New section</label>
            <input class="form-control" style="margin-bottom: 10px;" ng-model="newSection.title" type="text" placeholder="New section"/>
            <button ng-click="addSection()" class="btn btn-default pull-right">Add section</button>
        </div>
    </form>
    <form role="form">
        <div class="form-group">
            <label for="page">Select an existing page or create a new page</label>
            <select ng-model="page" ng-change="setPage()" class="form-control">
                <option value="">new page</option>
                <option ng-repeat="page in pages" value="{{$index}}">{{page.title}}</option>
            </select>
        </div>
        <div class="error" ng-show="pageErrors.length > 0">
            <h4 ng-repeat-start="error in pageErrors">{{error.name}}</h4>
            <p ng-repeat-end>
                {{error.msg}}
            </p>
        </div>
        <div class="form-group">
            <label name="pageTitle">Title</label>
            <input class="form-control" ng-model="newPage.title" type="text" placeholder="Page title"/>
        </div>
        <div class="form-group">
            <label name="pageContent">Content (<a href="https://guides.github.com/features/mastering-markdown/" target="_blank">Commonmark formatting</a>)</label>
            <textarea class="form-control" ng-model="newPage.content" placeholder="Page content"></textarea>
        </div>
        <div common-mark="newPage.content"></div>
        <div class="checkbox">
            <label name="pageLive">
                <input type="checkbox" ng-model="newPage.live"/>Make page live
            </label>
        </div>
    </form>
    <div class="form-group">
        <button class="btn btn-default" ng-file-select="" ng-model="images" class="upload-button" ng-file-change="upload(images)" ng-multiple="true" ng-accept="'video/*,image/*,application/pdf'" tabindex="0">Attach an Image</button>
        <ul ng-show="images.length > 0" class="response">
            <li class="sel-file" ng-repeat="f in images">
                <div ng-thumb="{ file: f, width: 100 }"></div>
                <div id="image-queue" ng-show="f.progress > 0">
                    <div>
                        <div class="progress" style="">
                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': f.progress + '%' }"></div>
                        </div>
                    </div>
                </div>

                <button class="btn btn-default" ng-click="f.upload.abort();f.upload.aborted=true" ng-show="f.upload != null &amp;&amp; f.progress < 100 &amp;&amp; !f.upload.aborted">Abort</button>
                <div class="image-details">
                    CommonMark code: ![foo](/uploads/{{f.name}} "A suitable image title")
                </div>
                <a ng-show="f.result" href="javascript:void(0)" ng-click="f.showDetail = !f.showDetail" class="">details</a>
                <div ng-show="f.showDetail">
                    <br>
                    <div data-ng-show="f.result.result == null" class="ng-binding"></div>
                    <ul>
                        <li ng-repeat="item in f.result.result" class="ng-scope">
                            <div data-ng-show="item.name" class="ng-binding">{{item.name}}</div>
                            <div data-ng-show="item.fieldName" class="ng-binding">{{item.fieldName}}</div>
                            <div data-ng-show="item.size" class="ng-binding">size on the server: {{item.size}}</div>
                            <div data-ng-show="item.value" class="ng-binding ng-hide">value: {{item.value}}</div>
                        </li><!-- end ngRepeat: item in f.result.result -->
                    </ul>
                    <div data-ng-show="f.result.requestHeaders" class="reqh ng-binding">request headers: {{f.result.requestHeders}}</div>
                </div>
            </li>
        </ul>
    </div>
    <button type="submit" class="btn btn-success" ng-click="addPage()">Save Page</button>
</div>
