<div class="col-md-6">
    <h1>Add new product</h1>
    <form role="form" ng-submit="addProduct(image)">
        <div class="form-group">
            <label name="productName">Name</label>
            <input class="form-control" ng-model="newProduct.name" type="text" placeholder="product name"/>
        </div>
        <div class="form-group">
            <label name=productDescription>Description</label>
            <textarea class="form-control" ng-model="newProduct.description"></textarea>
        </div>
        <div class="form-group">
            <label name="productPrice">Price</label>
            <input class="form-control" ng-model="newProduct.price" type="text" placeholder="price (£)"/>
        </div>
        <div class="form-group">
            <label name="productQty">Quantity</label>
            <input class="form-control" ng-model="newProduct.qty" placeholder="quantity"/>
        </div>
        <div class="form-group">
            <select ng-model="newProduct.category" ng-change="getSubCategories()">
            <option value="">Select a category</option>
            <option ng-repeat="category in categories" value="{{category.name}}">{{category.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <select ng-model="newProduct.subCategory">
            <option value="">Select a sub-category</option>
            <option ng-repeat="subCategory in subCategories" value="{{subCategory.name}}">{{subCategory.name}}</option>
            </select>
        </div>
        <div class="checkbox">
            <label name="productLive">
            <input type="checkbox" ng-model="newProduct.live"/>Make product live
        </label>
        </div>
        <div class="fb-error" ng-show="error">{{error}}</div>
        <div class="form-group fb-inputs" ng-hide="image.isUploading">
            <input class="fb-image-upload form-control" fb-image-upload class="fb-input" type="file" multiple name="image"/>
            <!--<input class="fb-submit" type="submit" value="Upload Image" ng-show="image.valid"/>-->
        </div>
        <div class="form-group" id="thumbHolder">
        </div>
        <!--
        <div class="fb-uploading" ng-show="image.isUploading">
            Uploading...
        </div>
        -->
        <button type="submit" class="btn btn-default">Add product</button>
    </form>
</div>
