
<a class="logo col-sm-12 row" ui-sref="shop.products">
  <img src="/img/battlescene_logo.png" class="center-block img-responsive"/>
</a>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <form role="search" ui-keypress="{13:'doSearch($event)'}">
        <div class="form-group">
          <input ng-model="filters.searchTerm" type="text" class="form-control" placeholder="Search">
        </div>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      </form>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ng-repeat="page in pages" ui-sref-active="active">
        <a ui-sref="{{page.link}}" ng-show="(userService.currentUser && page.admin) || !page.admin" href>{{page.name}}</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-show="userService.currentUser"><a ng-click="logout()" style="padding: 8px;" href><button class="btn btn-danger" role="button">logout <span class="glyphicon glyphicon-log-out"></span><span></button></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div ui-view="content"></div>