<category-filters></category-filters>
<h1 class="hidden">Battlescene Designs</h1>
<h2 ng-show="products.length > 0 && filteredProducts.length == 0 && filters.searchTerm != ''">Sorry, we have no products that match "{{filters.searchTerm}}"<span ng-show="filters.category"> in the category you have currently selected</span>.</h2>
<div class="row">
    <!--ng-repeat="product in (filteredProducts = (products | filter : search))">-->
    <section class="row product-panel bottom-buffer col-sm-6" ng-class="{notlive : !product.live }" dir-paginate="product in (filteredProducts = (products | filter : search)) | itemsPerPage: pageSize"><!--dir-paginate="product in products | itemsPerPage : 1">-->
        <div class="row" ng-show="userService.currentUser">
            <a ng-click="toggleEdit(product.$id)" class="pull-right edit"></a>
            <a ng-show="canEdit(product.$id)" ng-click="save(product)" class="pull-right save"></a>
            <a ng-show="canEdit(product.$id)" ng-click="delete(product)" class="delete pull-right"><span class="glyphicon glyphicon-trash"></span></a>
        </div>
        <div class="col-sm-4">
            <a href ui-sref="shop.product({productId: product.$id})" ng-repeat="image in product.images | obj2Arr | limitTo: 1" class="product-image-container">
                <img bscenes-src="{{ image.filename }}" class="img-responsive"/>
            </a>
        </div>
        <div class="col-sm-8">
            <div class="form-group" ng-show="canEdit(product.$id)">
                    <select ng-model="product.category">
                        <option ng-repeat="category in categories" value="{{category.name}}" ng-selected="category.name == product.category">{{category.name}}</option>
                    </select>
                    <select ng-model="product.subcategory">
                    <option value=""> -- Select a subcategory -- </option>
                    <option ng-repeat="subcategory in getSubCategories(product.category)" value="{{subcategory.name}}" ng-selected="subcategory.name == product.subcategory">{{subcategory.name}}</option>
                </select>
            </div>
            <h3 ng-show="!canEdit(product.$id)"><a href ui-sref="shop.product({productId: product.$id})">{{ product.name }}</a><a ng-click="basket.add(product)" ng-class="{active : basket.contains(product)}" class="pull-right bookmark" alt="Add to basket" title="Add to basket"><span class=" glyphicon glyphicon-bookmark"><span ng-show="basket.contains(product)">{{basket.itemCount(product)}}</span></span></a></h3>
            <input ng-show="canEdit(product.$id)" class="titleInput" ng-model="product.name" size="50" type="text"/>
            <div ng-show="!canEdit(product.$id)" class="description">
            <div common-mark="product.description" id="page-content"></div>
            <p>
                <button class="btn btn-success btn-xs pull-right" ng-click="basket.add(product)">Add to basket</button>
            </p>
            </div>

            <div ng-show="!canEdit(product.$id)" class="price-qty">{{product.qty}} per pack <em ng-show="product.dimensions">(approx {{product.dimensions}})</em><em>&nbsp;- {{ product.price | currency : "&pound;" }}</em></div>
            <a ui-sref="shop.contact" alt="Contact us about this product" title="Contact us about this product" class="contact-link"><span class="glyphicon glyphicon-envelope"></span></a>
            <textarea class="description" cols="55" ng-show="canEdit(product.$id)" ng-model="product.description">{{product.description}}</textarea>
            <div ng-show="canEdit(product.$id)" class="form-group price-qty">
            <div class="form-group"><input size="2" type="text" ng-model="product.qty"/> per pack
            </div>
            <div class="form-group">(approx <input type="text" ng-model="product.dimensions" size="10"/>) - £<input size="5" style="margin-left: 4px;" ng-model="product.price"/></div>
            <div class="checkbox">
                <label ng-show="canEdit(product.$id)" for="live"><input type="checkbox" ng-model="product.live" name="live"/>Live</label>
            </div>
        </div>
    </section>
</div>
<div class="row text-center">
<dir-pagination-controls></dir-pagination-controls>
</div>
