<category-filters></category-filters>
<h1 view-title>Contact us</h1>
<meta view-head property="og:description" content="You can get in touch by using this form or emailing info@battlescenedesigns.co.uk" />
<meta view-head property="og:keywords" content="Battlescene,Designs,Battle,Scene,wargaming,wargames,terrain,scenery,6mm,sci-fi,sci,fi,buildings,roads,ruins" />
<div class="row" ng-controller="ContactCtrl">
    <div ng-repeat="error in errors" class="col-sm-12">
        <h4>{{error.name}}</h4>
        <p>{{error.message}}</p>
    </div>
    <section ng-show="msgSuccess" class="col-sm-6">
        <h3>Thank you for your enquiry</h3>
        <p>We will be in touch shortly...</p>
    </section>
    <form role="form" ng-submit="sendMessage()" ng-show="!msgSuccess" class="col-sm-6">
        <div class="form-group">
            <label name="contactName">Name</label>
            <input name="name" class="form-control" ng-model="newContact.name" type="text" placeholder="Name"/>
        </div>
        <div class="form-group">
            <label name="contactEmail">Email</label>
            <input name="email" class="form-control" ng-model="newContact.email" type="email" placeholder="Email"/>
        </div>
        <div class="form-group">
            <label name="contactMsg">Message</label>
            <textarea rows="10" name="message" class="form-control" ng-model="newContact.message" placeholder="Message"/></textarea>
        </div>
        <button type="submit" class="btn btn-default">Get in touch</button>
    </form>
</div>
